$green: #75b800;
$gray-light: #eef1f3;
$bar-size: 5px;
$bar-radius: 60px;
$bar-bg: rgba(0, 0, 0, 0.075);

@keyframes grow {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.progress-bar {
  width: 75%;
  height: 20px;
  background-color: $bar-bg;
  border-radius: $bar-radius;
  overflow: hidden;

  .progress {
    height: 100%;
    background-color: $green;
    border-radius: $bar-radius;
    width: 0; // Start empty
    transition: width 0.3s ease-in-out; // Smooth transition
    animation: grow 0.5s ease; // Animation for each step
  }
}
